<h1>Editing expensegroup</h1>

<% form_for(@expensegroup) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :disabled %><br />
	<%= f.check_box :disabled %>		
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @expensegroup %> |
<%= link_to 'Back', expensegroups_path %>
