<h6><%= t 'New transactions from last visit' %></h6>
<% if transactions_from_last_visit %>
    <% for t in transactions_from_last_visit %>
    <div class="last-expenses-box">
        <h7><%= t.description %></h7>
        <div><%= format_date t.reference_date %> | <%= name_or_login t.creator %> | <%= t.influence current_user %></div>        
    </div>
    <% end %>
<% else %>
<%= t "There are no new transactions from last visit" %>
<% end %>