<%= javascript_include_tag "jquery.flot.js" %>

<h1>History report <%=h @year %></h1>
<div id="plot-container" style="width:600px;height:300px;"></div>
<div id="space"></div>
<script>
  <% for user in @history.keys %>  
      var data<%=h user.id %>= [
      <% for date in @history[user].keys.sort.reverse %>
        [ Date.parse('<%= date %>'), <%= @history[user][date] %>],
      <% end %>
      ];  
  <% end %>
  var dataset = [
    <% for user in @history.keys %>
      { data: data<%=h user.id %>, label: "<%=h name_or_login user %>"},
    <% end %>
  ];
  var plot = $.plot($("#plot-container"),
             dataset,
             { lines: { show: true },
               points: { show: true },
               // selection: { mode: "xy" },
               legend: { position: 'nw' },
               grid: { hoverable: true, clickable: true },
               //yaxis: { min: -1.2, max: 1.2 }
               xaxis: { mode: 'time' },
               });

  function showTooltip(date, x, y) {
    // TODO the date works without formatting probably only chrome?
    var params = {date:date};
    var url = '<%= url_for(:action => 'list') %>/?' + $.param(params);
    $('<div id="tooltip">'+'</div>').css( {
      position: 'absolute',
      display: 'none',
      top: y + 5,
      left: x + 5,
      border: '1px solid #fdd',
      padding: '2px',
      'background-color': '#fee',
      opacity: 0.80
    }).appendTo("body").load(url).fadeIn(200);
  }

   var previousPoint = null;
   $("#plot-container").bind("plothover", function (event, pos, item) {
      if(item){
        if (previousPoint != item.datapoint) {
            previousPoint = item.datapoint;
            $("#tooltip").remove();
            var selectedDate = new Date(item.datapoint[0]);
            showTooltip(selectedDate, pos.pageX, pos.pageY);
        }
      } else {
        $("#tooltip").remove();
        previousPoint = null;
      }
   });
   
   $("#plot-container").bind("plothover",  function (event, pos, item) {
       latestPosition = pos;
       // if (!updateLegendTimeout)
       //     updateLegendTimeout = setTimeout(updateLegend, 50);
   });


</script>