<style type="text/css" media="screen">
    #tooltip-locator {
        float:left;
    }
    #plot-container {
        float:left;
    }
</style>
<h1>History report <%=h @year %></h1>


<ul class="expense-year-list">
    <li><a href="#" id="reset-zoom">Reset</a></li>
</ul>
<div id="plot-container" style="width:700px;height:300px;"></div>
<div id="tooltip-locator" class="ui-corner-all"></div>
<div id="space"></div>
<div id="tooltip"></div>

<script>
  <% for user in @history.keys %>  
      var data<%=h user.id %>= [
      <% for date in @history[user].keys.sort.reverse %>
        [ <%= dump_js_date date %>, <%= @history[user][date] %>],
      <% end %>
      ];  
  <% end %>
  var dataset = [
    <% for user in @history.keys %>
      { data: data<%=h user.id %>, label: "<%=h name_or_login user %>", user_id:<%=h user.id %>},
    <% end %>
  ];
  var options = { 
     lines: { show: true },
     points: { show: true },
     selection: { mode: "x" },
     legend: { position: 'nw' },
     grid: { hoverable: true, clickable: true },
     xaxis: { mode: 'time' },
   }
   var container = $("#plot-container")
   var plot = $.plot(container, dataset, options);
   
   container.bind("plotselected", function (event, ranges) {
       plot = $.plot(container, dataset,
                     $.extend(true, {}, options, {
                         xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                     }));
   });
   
   $('#reset-zoom').click(function(){
        plot = $.plot(container, dataset,
           $.extend(true, {}, options, { xaxis: { min: null, max: null }
        }));
        return false;
   })

   var previousPoint = null;
   $("#tooltip-locator").tooltip({
       tip:'#tooltip',
       position:'bottom right',
       effect: 'slide'
   })
   // $("#plot-container").bind("plothover", function (event, pos, item) {
   //    if(item){
   //      if (previousPoint != item.datapoint) {
   //          previousPoint = item.datapoint;
   //          $("#tooltip-locator").tooltip().hide()
   //          var date = item.datapoint[0];
   //          var user_id = item.series['user_id']
   //          var params = {'date':date.toString(), 'user':user_id};
   //          var url = '<%= url_for(:action => 'list') %>/';
   //          $.get(url, params, function(response){
   //            $("#tooltip").html(response)
   //            $("#tooltip-locator").tooltip().show()
   //          })
   //      }
   //    } else {
   //      $("#tooltip-locator").tooltip().hide()
   //      previousPoint = null;
   //    }
   // });
   
   $("#plot-container").bind("plothover",  function (event, pos, item) {
       latestPosition = pos;
       // if (!updateLegendTimeout)
       //     updateLegendTimeout = setTimeout(updateLegend, 50);
   });


</script>