<b>For date <%=h @date %></b>
<table>
<% for expense in @expenses %>
  <tr>
    <td><%=h expense.creator.login %></td>
    <td>
      <% if expense.expensegroup.personal %>
           <%= t "Personal" %>
       <% else %>
           <%=h expense.expensegroup.name %>
       <% end %>
    </td>
    <td><%=h expense.description %></td>
    <td style="text-align:right"><%=h expense.influence current_user %></td>
  </tr>
<% end %>
</table>