<h1>Editing category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% if has_role? :admin %>
  <p>
	<%= f.label :creator %><br />
	<%= f.select :creator_id , User.find(:all).collect {|p| [ p.login, p.id ] } , { :include_blank => true } %>		
  </p>  
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
