<style>
#search {
  padding: 10px;
  display:none;
}
</style>

<% if search %>
  <div id='search'>
  <% form_tag({:action => @action}, {:method => 'get', :id => 'search_form'}) do %>
    <%=text_field_tag("q", params['q'], :size => 10 ) %> 
    <%=submit_tag 'Search'%>
  <% end %>
  </div>
<% end %>


<table style="width:100%" cellspacing="0" summary="<%= t 'Personal expense report' %>">
  <caption><%= t "Personal expense report" %></caption> 
  <thead>
    <tr> 
      <th scope="col" abbr="Configurations" class="nobg <%= sort_td_class_helper 'formatted_reference_date' %>">
        <%= sort_link_helper @action, t('Date'), 'formatted_reference_date', params %>
      </th> 
      <th scope="col" abbr="<%= t "Description" %>" class="<%= sort_td_class_helper 'description' %>">
        <%= sort_link_helper @action, t('Description'), 'description', params %>
      </th> 
      <th scope="col" abbr="<%= t "Owner" %>" class="<%= sort_td_class_helper 'creator' %>">
        <%= sort_link_helper @action, t('Owner'), 'creator.login', params %>
      </th>
      <th scope="col" abbr="<%= t "Amount" %>" class="<%= sort_td_class_helper 'amount' %>">
        <%= sort_link_helper @action, t('Amount'), 'amount', params %>
      </th>
      <th scope="col" abbr="<%= t "Influence" %>"><%= t "Influence" %></th>
      <th scope="col" abbr="<%= t "Users" %>"><%= t "Users" %></th>
      <th scope="col" colspan="3"></th>
    </tr> 
    
  </thead>
  <tbody>
	<%if @objects.size == 0%>
  	  <tr><td colspan='<%= @headings.size %>'>No items in the list</td></tr>
	<%else  
	    @objects.each do |object|
	        th_class = cycle('specalt', 'spec')
        %>
	    <tr id='<%=dom_id(object)%>' class='<%= th_class %>'>
          <td><%= object.formatted_reference_date %></td>
          <td><%= object.description %></td>
          <td><%= name_or_login object.creator %></td>
          <td><%= object.amount %></td>
          <% if object.influence(current_user) < 0 %>
          <td class="influence-column negative-influence">
            <%= format_number object.influence(current_user) %>
          </td>
          <% else %>
          <td class="influence-column positive-influence">
            +<%= format_number object.influence(current_user) %>
          </td>
          <% end %>
          <td class="users-column">
            <% for user in object.users %>
                <% if user != object.creator %>
                <span><%= name_or_login user %></span>
                <% end %>
            <% end %>              
          </td>
          <td><%= link_to image_tag("icons/page.gif", :alt => t('show expense'), :title => t('show expense') ), object %></td>
          <% if can_edit_expense object %>
            <td><%= link_to image_tag("icons/page_edit.gif", :alt => t('edit expense'), :title => t('edit expense') ), edit_expense_path(object) %></td>
            <td><%= link_to image_tag("icons/page_delete.gif", :alt => t('delete expense'), :title => t('delete expense') ), object, :confirm => t('Are you sure?'), :method => :delete %></td>
          <% else %>
            <td></td><td></td>
          <% end %>
  		</tr>
	    <% end %>
	<% end %>
	</tbody>
</table>