<script type="text/javascript" charset="utf-8">
    var category_url = "<%= url_for :controller=>'report', :action=>'category_last_month' %>";
    var history_url = "<%= url_for :controller=>'report', :action=>'history', :last_period=>1 %>";
    var category_chart = function(){
        var container = $('#month-category-pie');
        var legend_container = $("#month-category-pie-legend");
        legend_container.empty()
        container.empty()
        container.addClass("loading-plot")
        $.getJSON(category_url, function(data){
            var options = {
                pie: { 
                    show: true, 
                    pieStrokeLineWidth: 1, 
                    pieStrokeColor: '#FFF', 
                    showLabel: false
                },
                legend: {
                    show: true,
                    container:legend_container
                }
            }
            $.plot(container, data, options)
            container.removeClass("loading-plot")
        })        
    }
    var history_chart = function(){
        var container = $("#credit-last-month");
        var legend_container = $("#credit-last-month-legend")
        container.empty()
        legend_container.empty()
        container.addClass("loading-plot")
        $.getJSON(history_url, {}, function(data){
            for(s in data){
                for(i in data[s]['data']){
                    data[s]['data'][i][0] = $.datepicker.parseDate('yy-mm-dd', data[s]['data'][i][0]);
                }
            }
            var options = { 
               lines: { show: true },
               xaxis:{ mode:'time' },
               yaxis:{ ticks:[] },
               legend: {
                   show: true,
                   container:legend_container
               }
             }
            $.plot(container, data, options)
            container.removeClass("loading-plot")
        })
    }
    $(document).ready(function(){
        history_chart()
        category_chart()
    })
</script>

<div class="span-6 colborder">
    <h5>spese questo mese</h5>
    <div id="month-category-pie" class="span-4 loading-plot" style="height:150px;width:150px"></div>
    <div class="span-2 last" id="month-category-pie-legend"></div>
</div>
<div class="span-6 colborder">
    <h5>spese stato crediti e debiti</h5>
    <div id="credit-last-month" class="span-4 loading-plot" style="height:150px;width:150px"></div>
    <div class="span-2 last" id="credit-last-month-legend"></div>
</div>
<div class="span-5 last">
    <h5>spese di oggi</h5>
    <% form_remote_for :expense, @expense, :url=>{:action=>'create_home'}, :html=>{:id=>'new-expense-home'} do |f| %>
          <div class="flash error hide" id="new-expense-home-errors"></div>
          <div class="flash notice hide" id="new-expense-home-success"></div>
          <div class="span-3">
              <%= f.label :description %>
              <%= f.text_field :description, :class=>"span-3"%>
          </div>
          <div class="span-2 last">
              <%= f.label :amount %>
              <%= f.text_field :amount, :class=>"span-2" %>
          </div>
          <div class="span-5">
              <%= f.label :dummy_user_group, t('Users') %>
              <%= f.select :expensegroup_ids, Expensegroup.all.collect{|u| [u.name, u.id]}, {},  {:multiple=> true, :class=> 'hide'} %>
              <%= f.select :user_ids, User.all.collect{|u| [u.login, u.id]}, {},  {:multiple=> true, :class=> 'hide'} %>
              <select id="dummy_user_group" disabled="disabled"></select>
          </div>
          <div class="span-5">
              <%= f.label :category_id %><br>
              <%= f.select :category_id , get_user_categories_for_expense(@expense).collect {|p| [ p.name, p.id ] } %>
          </div>
          <div class="span-2 last"><%= submit_tag "add"%></div>
    <% end %>
</div>