<h1><%= t "Expenses" %></h1>

<div>
<% form_remote_for :expense, @expense, :url=>{:action=>'create'}, :html=>{:id=>'new_expense'} do |f| %>
<div class="inline_form"><%= calendar_field :expense, 'reference_date' ,{ :size=>9 } , {:showsTime=>false} %></div>
<div class="inline_form"><%= f.text_field :description, :size=>20 %></div>
<div class="inline_form"><%= f.text_field :amount, :size=>9 %></div>
<div class="inline_form">
	<% if has_role? :admin %>
	    <%= f.select :creator_id , User.find(:all).collect {|p| [ p.login, p.id ] } , { :selected => current_user.id } %>		
	<% else %>
    
	<% end %>
</div>
<div class="inline_form"><%= f.select :expensegroup_id ,  get_user_expensegroups.collect {|p| [ p.name, p.id ] } , { } %></div>
<div class="inline_form"><%= submit_tag "add"%></div>
<div class="inline_form inline_form_last"></div>
<% end %>
</div>

<table id="expense_list_table" width="630">
  <tr>
    <th align="left"><%= t "Date" %></th>
    <th align="left"><%= t "Description" %></th>
    <th align="left"><%= t "Amount" %></th>
    <th align="left"><%= t "Creator" %></th>
    <th align="left"><%= t "Group" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <%= render :partial=>'expense_line', :object=>expense %>
<% end %>
</table>

<%= will_paginate @expenses %>

<br />
<% content_for :left_portlets do %>
<table>
    <h3><%= t 'Expenses of last 30 days' %></h3>
    <tr>
        <th><%= t 'Personals' %>:</th>
        <td><%= @totals[:personal] %></td>
    </tr>
    <tr>
        <th><%= t 'Shared' %>:</th>
        <td><%= @totals[:shared] %></td>
    </tr>
    <tr>
        <th><%= t 'Total' %>:</th>
        <td><%= @totals[:total] %></td>
    </tr>
</table>

<h3><%= t 'Status' %></h3>
<table>
    <% for group in get_user_expensegroups %>
        <% if not group.personal %>
            <% status = expensegroup_status group %>
            <tr>
                <th><%= group.name %></th>
                <td>
                    <% if status > 0 %>
                        <%= t 'to receive' %> <%= number_with_precision status, :precision=> 2, :delimiter => '.' %>
                    <% else %>
                        <%= status %>
                        <%= t 'to give' %> <%= number_with_precision (status + ( status * 2 * -1 )), :precision=> 2, :delimiter => '.' %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>
<% end %>

<br />

<%= link_to t('New expense'), new_expense_path %>
