<%= javascript_include_tag "jquery.tools.min.js" %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $(".tooltip.top").prev().tooltip({
            offset: [10, 2],
            effect: 'slide',
            position:'top center',
            events: {
              def:     "mouseenter,mouseleave",    // default show/hide events for an element
              input:   "focus mouseenter,blur mouseleave",
              widget:  "mouseenter,mouseleave",
              tooltip: "mouseenter,mouseleave"
            }
        });
        
        $("#expense_personal_transaction").button({icons: { primary: "ui-icon-check" }})
        
    });
</script>

<div>
  <% form_remote_for :expense, @expense, :url=>{:action=>'create'}, :html=>{:id=>'new_expense'}, :complete =>"" do |f| %>
    <div class="span-19">
        <div class="span-3">
            <%= f.text_field :reference_date, :class=>"jquery-date-picker span-3"%>
        </div>
        <div class="span-3">
            <%= f.text_field :description, :class=>"span-3"%>
            <div class="tooltip top small white"><%= t "Description" %></div>
        </div>
        <div class="span-2">
            <%= f.text_field :amount, :size=>9 %>
            <div class="tooltip top small white"><%= t "Amount" %></div>
        </div>
        <div class="span-2">
          <% if current_user.has_role? :admin %>
            <%= f.select :creator_id , User.find(:all).collect {|p| [ p.login, p.id ] } , { :selected => current_user.id } %>		
          <% end %>
          <div class="tooltip top small white"><%= t "Owner" %></div>
        </div>
        <div class="span-3">
            <%= f.select :category_id , get_user_categories_for_expense(@expense).collect {|p| [ p.name, p.id ] } %>
            <div class="tooltip top small white"><%= t "Category" %></div>
        </div>
        <div class="span-4 last">
            <%= f.select :expensegroup_ids, Expensegroup.all.collect{|u| [u.name, u.id]}, {},  {:multiple=> true, :class=> 'hide'} %>
            <%= f.select :user_ids, User.all.collect{|u| [u.login, u.id]}, {},  {:multiple=> true, :class=> 'hide'} %>
            <select id="dummy_user_group" disabled="disabled"></select>
        </div>
        <div class="tooltip top white small"><%= t "Users" %></div>
    </div>
    <div class="span-2"><%= submit_tag "add"%></div>
    <div class="span-2 last" style="margin-left:10px">
        <%= f.check_box :personal_transaction %><%= f.label :personal_transaction, t('Transaction') %>
        <div class="tooltip top white"><b><%= t "Transaction" %></b><br/><%= t "transaction_input_description" %></div>
    </div>    
  <% end %>
</div>
<div style="clear:both"></div>
<div id="form-error-box"></div>
<br/>
<div id="expense_list_table">
<%= sortable_table :partial =>'table'%>     
</div> 

<% content_for :portlets do %>
  <div id="portlets-container">
    <% for portlet in user_portlets %>
      <div class="portlet">
      <%= portlet %>
      </div>
    <% end %>
    <div style="clear:left"></div>
  </div>
<% end %>
<!-- end portlets space -->

<br />

<%= link_to t('New expense'), new_expense_path %>
