<h1>New expense</h1>

<% form_for(@expense) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :personal_transaction %>   <br/>
    <%= f.check_box :personal_transaction %>
  </p>
  <p>
	<%= f.label :reference_date %><br />
	<%= f.text_field :reference_date, :class=>"jquery-date-picker" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
	<%= f.label :category %><br />
	<%= f.select :category_id , get_user_categories_for_expense(@expense).collect {|p| [ p.name, p.id ] } , { } %>		
  </p>  
  <p>
	<%= f.label :users %><br />
	<%= f.text_field :user_ids %>
  </p>
  <p>
	<%= f.label :notes %><br />
	<%= f.text_field :notes %>		
  </p>
  <% if has_role? :admin %>
  <p>
	<%= f.label :creator %><br />
	<%= f.select :creator_id , User.find(:all).collect {|p| [ p.login, p.id ] } , { :selected => current_user.id } %>		
  </p>  
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', expenses_path %>
