<p>
  <b>Creator:</b>
  <%=h @expense.creator.login %>
</p>


<p>
  <b>Description:</b>
  <%=h @expense.description %>
</p>

<p>
  <b>Amount:</b>
  <%=h @expense.amount %>
</p>

<% if can_edit_expense @expense %>
<%= link_to 'Edit', edit_expense_path(@expense) %> |
<% end %>
<%= link_to 'Back', expenses_path %>
