<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Convivium - <%= controller.controller_name %>:<%= controller.action_name %>
  </title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'global' %>
  <%= javascript_include_tag :defaults %>
  <%= dhtml_calendar_includes %>
</head>
<body>
<div id="main-container">
	<div id="top-menu">
        <ul>
        </ul>
		<div id="actions-container">
        <% if current_user %>
            <%= t 'Hi' %> <%= current_user.login %>
            <%= link_to t('Logout'), { :controller => "sessions" , :action => "destroy"} %>
        <% end %>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="column-content">
        <div style="clear:both"></div>
        <div class="flash notice" id='notice'>
		<% if flash[:notice] %>
        <%= flash[:notice] %>
        <% end %>
		</div>

        <%= yield %>
    </div>
    <div id="column-right">
        <ul>
            <li><%= link_to t("Report"), :controller => "expenses" , :action => "index" %></li>
            <li><%= link_to t("Complete report"), :controller => "report" , :action => "expense_report" %></li>
            <li><%= link_to t("Add expense"), { :controller => "expenses" , :action => "new"} %></li>
            <li><%= link_to t("Expense groups"), { :controller => "expensegroups" , :action => "index"} %></li>
            <li><%= link_to t("Categories"), { :controller => "categories" , :action => "index"} %></li>
        </ul>
        <div id="portlets-container">
        <%= yield :portlets %>
        </div>
    </div>
</div>

</body>
</html>
